@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background: #101220;
    font-family: "Outfit", sans-serif;
}
.container{
    width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
    color: white;
}
.header__nav{
    background: #0C0E1866;
    backdrop-filter: blur(80px)
}
.header__nav--ul{
    display: flex;
    justify-content: space-between;
}
.header__nav--ul li ul{
    display: flex;
    gap: 29px;
}
.header__nav--ul li ul li{
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
span{
    position: relative;
    top: -11px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.header__nav--ul li ul li ul{
    width: 99px;
    height: 111px;
    background: #232028;
    box-shadow: 0px 0px 11px 0px #FFFFFF;
    border-radius: 10px;
    flex-direction: column;
    padding: 11px 10px 11px 11px;
    display: none;
}
.header__nav--ul li ul li:hover > ul{
    position: absolute;
    display: block;
    z-index: 2;
}
.header__nav--ul li ul li:hover > img{
    content: url(arrow.png);
}
.header__nav--ul li:first-child ul li ul li{
    width: 78px;
    height: 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
.header__nav--ul li:first-child ul li ul li:hover{
    position: relative;
    top: 0;
    padding-top: 0;
    background-color: #BFAFF2;
    color: #232028;
}
.header__nav--ul li ul img{
    width: 31px;
    height: 31px;
}
.header__nav--ul li:last-child ul{
    gap: 6px;
}
.header__nav--ul li:last-child ul li{
    width: 175px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}
.header__nav--ul li:last-child ul li:hover{
    position: relative;
    top: -8px;
    padding-top: 8px;
    background-color: #BFAFF2;
    color: #333333;
    border-radius: 15px;
}
.section ul{
    display: flex;
    gap: 20px;
    margin-top: -30px;
}
.section ul li{
    position: relative;
    margin-top: 418px;
    text-align: center;
    width: 325px;
    background-color: #232028;
    border-radius: 32px;
    padding: 59px 16px 33px 16px;
}
.section ul li h2{
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 8px;
    background-color: #232028;
    border-radius: 32px;
}
.section ul li p{
    width: 293px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    background-color: #232028;
    border-radius: 32px;
}
.section ul li img{
    position: absolute;
    left: 38.5px;
    bottom: 200px;
    background-color: transparent;
}
.footer{
    margin-top: 116px;
    background: #0C0E1866;
    backdrop-filter: blur(80px)
}
.footer ul{
    display: flex;
    gap: 947px;
    background: #0C0E1866;
}
.footer ul li{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.footer ul li ul{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    gap: 40px;
    background: #0C0E1866;
}